@import '../../../partials/_variables.scss';
@import '../../../partials/mixins.scss'; 



.warehouseList{
    background-color:white;
    @include body-medium;
    display: flex;
    // ! Mobile
    @media (max-width: 767px) {
        margin-left: 16px;
        border-top: $Cloud 1px solid;
        width: calc(100vw - 32px);
        // !mobile
        img{
            height:24px
        }
        &__individual{
            
            @include body-small;
            .individual{
                &__title{
                    color: $Slate
                }
            }
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding:0 40px;
            .actions{

                padding-bottom: 16px;
            }
            .category{
                padding-top: 16px;
                width: calc(30vw);
            }
        }
        
    }
    @include tablet{
        display: flex;
        flex-direction: column;
        &__individual{
            background-color: white;
            padding: 16px 26px;
            width: calc(100vw - 116px);
            display: flex;
            justify-content: space-between;
            .individual__content{
                align-items: center;
                padding: 0;
                margin: 0;
            }
        }
    }
    .warehouse{
        .individual__content{
            display: flex;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
            color: $Instock-Indigo;
            align-self: center;
            @include labels-links-buttons;
        }
    }
    &__individual{
        &:hover{
            background-color: rgba(46, 102, 229, .07);
        }
        .category{
            .warehouseWchevron{
                display: flex;
                @media (max-width: 767px) {
                    img{
                        align-self: center;
                        height: 16px;
                    }
                }
            }
            @include tablet{
                display: flex;
                flex-direction: row;
                .individual__title{
                    display: none;
                }
            }
            .individual__content{
                max-width: 20vw;
                &:nth-child(1){
                    @include tablet{
                        width:120px;
                    }
                }
            }
        }
    }
    // ! Labels (notMobile)
    &__label{
        margin: 0 auto;
        color: $Slate;
        width: 100%;
        justify-content: space-between;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
        @media (max-width: 767px) {
            display: none;
        }
        @include tablet{
            width: calc(100vw - 144px);
        }
        .categories{
            @include body-small;
            align-items: center;
            .sort{
                height:18px;
                padding-top: 5px;
            }
            @include tablet{
                align-items: center;
                display: flex;
                padding:12px 0;
            }
        }
        :nth-child(3){
            @include tablet{
                margin-left: 60px;
            }
            @include desktop{
                margin-left: 100px;
            }
        }
        .labelTitle{
            display: flex;
        }
    }
    .actions{
        @media (max-width: 767px) {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        @include tablet{

            >a{margin-left: 30px;}
            padding: 5px;
        }
    }
    .mobile{
        @include tablet{
            display: none;
        }
    }
    .warehouseList__label, .warehouseList__individual{
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    }
    @include desktop{
        .warehouseList__label, .warehouseList__individual{
            width: 1048px;
        }
        margin: 0 auto;
        width: 1100px;
    }
    .chevronRight{
        align-items: center;
        display: flex;
        padding-top: 1px;
        height: 18px;
    }
    .delete, .edit{
        height: 24px;
        width: 24px;
        border-radius: 50px;
    }
    // EXTRA
    .delete{
        &:hover{
            // background-color: lightcoral;
        }
    }
    .edit{
        &:hover{
            // background-color: lightblue;
        }
    }

}


