@use '../../partials/globals' as *;
@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.card {
    display: flex;
    flex-direction: column;
    padding: 24px;

    @include tablet {
        flex-direction: row;
    }
    

    &__group {
        display: flex;
        flex-direction: row;
    }

    &__subgroup {
        width: 50%;

        @include tablet{
            display: flex;
            flex-direction: row;
        }
    }

    &__element {
        margin: 20px 0 0 0;
    }

    &__label {
        @include subheader;
        text-transform:uppercase;
        color: $Slate;
        margin: 8px 0;

        @include tablet {
            display: none;
        }
    }

    &__name-div {
        display: flex;
        flex-direction: row;
    }

    &__name {
        color: $Instock-Indigo;
        @include titillium-web-semibold;
        font-size: 1.2rem;
    }

    &__text {
        @include titillium-web-regular;
        color: black;
        font-size: 1.2rem;
    }

    &__icons-section {
        display: flex;
        justify-content: space-between;
    }

    &__icon {
        width: 40px;
        height: 40px;
    }

    &__instock {
        text-align: center;
        width: 90px;
        border-radius: 15px;
        background-color: rgba(21, 132, 99, 0.07);
        color: $Green;
        text-transform:uppercase;
        font-weight: 600;
    }

    &__nostock {
        text-align: center;
        width: 140px;
        border-radius: 15px;
        background-color: rgba(201, 69, 21, 0.07);
        color: $Red;
        text-transform:uppercase;
        font-weight: 600;
    }

}

