@use '../../partials/globals' as *;
@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.addbtn {
    display: flex;
    flex-direction: row;
    background-color: $Instock-Indigo;
    border-radius: 25px;
    justify-content: center;
    width: 100%;

    @include tablet {
        width: 50%;
        height: 45px;
        align-items: center

    }




    &__text {
        @include titillium-web-regular;
        color: white;
        font-size: 1rem;
        padding: 12px;

        @include tablet {
            padding: 4px;

        }
    }
}