@use '../../partials/globals' as *;
@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.new-warehouse {
  background-color: white;
  border-radius: 3px;
  margin: 0 16px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  box-shadow: 0px 0px 3px rgba(19, 24, 44, 0.1);

  &__divider {
    background-color: $Cloud;
    height: 1px;
    width: 100%;
  }

  &__header-div {
    display: flex;
    margin: 24px 16px 16px 16px;
  }

  &__header {
    @include page-header;
    margin: 0;
  }

  &__back-arrow {
    width: 24px;
    margin-right: 16px;
  }

  &__warehouse-div,
  &__contact-div {
    display: flex;
    flex-direction: column;
    margin: 24px 16px 16px 16px;
    box-sizing: border-box
  }

  &__warehouse-header,
  &__contact-header {
    @include subheader;
    margin: 0 0 24px 0;
  }

  &__warehouse-name-div {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    box-sizing: border-box
  }
}