@use '../../partials/globals' as *;
@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.form {
  margin-bottom: 16px;
  box-sizing: border-box;

  &__field-label {
    @include labels-links-buttons;
    // margin-bottom: 4px;
  }
  
  &__field-input {
    margin-top: 4px;
    border-radius: 20px;
    border-style: solid;
    border-color: $Cloud;
    border-width: 1px;
    height: 36px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 16px;
    @include body-medium;
    color: $Slate;
    box-sizing: border-box;

    &:focus {
      border-color: $Instock-Indigo;
      outline: none;
      color: $Instock-Black;
    }

    &:invalid {
      border-color: red;
      outline: none;
    }
  }

  &__error-div {
    display: flex;
  }

  &__error-icon {
    width: 16px;
    margin-right: 4px;
  }

  &__error-message {
    color: $Red;
    @include body-small
  }
}

// .error {
//   visibility: hidden;
// }