@use '../../partials/globals' as *;
@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  &__copy {
    @include body-small;
    color: $Slate;
  }
}