@use '../../partials/globals' as *;
@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;


.new-inventory {
    background-color: white;
    border-radius: 3px;
    margin: 0 16px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: 0px 0px 3px rgba(19, 24, 44, 0.1);

    &__header-div {
        display: flex;
        padding: 0 16px;
    }

    &__back-arrow {
        margin-top: 50px;
    }

    &__header {
        margin: 32px 0 24px 16px;
        @include page-header;
    }
}

.inventory-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;

    &__section-one {
        display: flex;
        flex-direction: column;
    }

    &__section-two {
        display: flex;
        flex-direction: column;
        margin-top: 16px;
    }

    &__section-header {
        @include subheader;
        padding: 16px 16px 16px 16px;
        margin: 0;
        border-top: 1px solid $Cloud;
    }

    &__radio-buttons {
        display: flex;
        flex-direction: column;
    }

    &__radio-header {
        @include labels-links-buttons;
        margin: 0 0 4px 16px;
    }

    &__radio-selections {
        margin: 0 16px;
        display: flex;
        justify-content: flex-start;
        gap: 50px;
    }

    &__radio-group {
        display: flex;
        align-items: flex-start;
    }

    &__quantity {
        margin-top: 16px;
    }

    &__buttons {
        display: flex;
        padding: 8px 16px;
        background-color: $Light-Grey;
        margin-top: 16px;
        gap: 8px;
    }

    &__button {
        @include labels-links-buttons;
        height: 36px;
        width: 100%;
        border: 1px solid $Cloud;
        border-radius: 20px;
        background-color: #FFFF;
        color: $Slate;

        &--submit {
            background-color: $Instock-Indigo;
            border: 1px solid $Instock-Indigo;
            color: #FFFF;
        }
    }
}

fieldset {
    border: none; 
}

fieldset:active {
    color: hotpink;
}