@use './partials/globals' as *;
@use './partials/mixins' as *;
@use './partials/variables' as *;

#root {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

body {
  margin: 0;
}

